<%= link_to '一覧', tasks_path, class: 'nav-link' %>
<%= form_with(model: @task, local: true ,url: choose_new_or_edit ) do |form| %>
  <div class="task_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit '登録', class: 'btn btn-primary' %>
<% end %>
