<h1>登録確認画面</h1>
<p>以下の内容で登録してもよろしいですか？</p>
<%= form_with(model: @task, local: true) do |form| %>
  <div class="task_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit '戻る', name: 'back', class: 'btn btn-primary' %>
  <%= form.submit '登録', class: 'btn btn-primary' %>
<% end %>
