<header>
  <div class="header-logo">
    Whisper~Confirm~
  </div>

  <ul class="header-menus">
    <li><a href="/tasks/new">Whisper</a></li>
    <li><a href="/tasks">Index</a></li>
  </ul>
  <div class="clear"></div>


<div class="">
  以下の内容で登録してもよろしいですか？
</div>
<%= form_with(model: @task, local: true) do |form| %>
  <div class="task_content">
    <%= form.label :content %>
    <%= form.text_area :content, size:"40×20"%>
    <%= form.submit 'Back', name: 'back', class: 'btn btn-primary' %>
    <%= form.submit 'Register', class: 'btn btn-primary' %>
  </div>
<% end %>
</header>
<div class="wrapper">
</div>
<footer>
<p>&copy;Copyright Jun Kobayashi</p>
</footer>
